@charset "UTF-8";
body{
  background: url(back1.png)no-repeat;
  background-size: 100%;
  font-family: Arial;
  font-size: 18px;
}

p.a{
  font-size: 22px;
  text-align: center;
}

h1{
  font-size: 30px;
  text-align: center;
  margin: 25px;
}

h2{
  font-size: 25px;
  text-align: center;
}

table.a{
	margin:auto;
	border-collapse:collapse;
	background:#ffffff;
}
  table.a,th.a,td.a{
	border:2px solid #000000;
}

table.d{
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  line-height: 30px;
}

table{
  font-size: 18px;
  margin: auto;
  white-space: nowrap;
  line-height: 30px;
}

a.a1{
  background-color: #0d75ba;
  box-shadow: 1px 1px 7px 0px #000000;
  color: #ffffff;
  font-size: 20px;
	font-weight: normal;
	padding: 26px 61px;
	text-decoration: none;
  white-space: nowrap;
}